@model gsnet.Models.Coral

<h1>Detalhes do Coral</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nome:</dt>
        <dd class="col-sm-10">@Model.Nome</dd>
        <dt class="col-sm-2">Espécie:</dt>
        <dd class="col-sm-10">@Model.Especie</dd>
        <dt class="col-sm-2">Data de Cadastro:</dt>
        <dd class="col-sm-10">@Model.dt_cadastro.ToString("dd/MM/yyyy")</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-primary">Voltar para a Lista</a>
