@model gsnet.Models.User

<h1>Criar Novo Usuário</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>UserId:</label>
        <input asp-for="UserId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Nome:</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Sobrenome:</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Cargo:</label>
        <input asp-for="JobTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label>Nome de Usuário:</label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Senha:</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
