@model gsnet.Models.Localizacao

<h2>Excluir Localização</h2>

<h4>Tem certeza de que deseja excluir esta localização?</h4>
<div>
    <h4>Id: @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Latitude</dt>
        <dd class="col-sm-10">@Model.Latitude</dd>
        <dt class="col-sm-2">Longitude</dt>
        <dd class="col-sm-10">@Model.Longitude</dd>
    </dl>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
